.vscode/
.idea/
！debug/*.py

datasets/*
!datasets/visfly-beta/
!datasets/visfly-beta/**
!datasets/.gitkeep
# 忽略所有 Python 缓存文件
*.pyc
__pycache__/
*.pyo

**/*.mp4
**/*.avi
**/*.jpg
**/*.png

**/saved/

**/*.pyc
**/__pycache__/
**/*.pyo

color_debug/*
semantic_debug/*
debug_images/*
temp_weights/*
segment-anything-2/*
segmentation_results/*
examples/*
output_images/
results/
logs/
rgb_images/
rgb_image/
imitation_distillation/
plot/
VisFly/